<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Sheet Dashboard </title>
  <script>
        var sheet_id = <%= raw @sheet.id %>;
        var data = <%= raw @data.to_json %>;
        var lecture_id = <%= raw @lecture_id  %>

  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js" type="text/javascript"></script>
</head>
<body>
    <div id="root"/>
    <%= javascript_include_tag 'markdown-it', 'data-turbolinks-track' => true %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>

    <script>
        var md = window.markdownit({
            highlight: function (str, lang) {
                if (lang && hljs.getLanguage(lang)) {
                    try {
                        return hljs.highlight(lang, str).value;
                    } catch (__) {}
                }

                return ''; // use external default escaping
            }
        });
    </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'sheet_dashboard', 'data-turbolinks-track' => true %>

</body>
</html>