<!DOCTYPE html>
<html>
<head>
  <title>TestUsers</title>
  <%= csrf_meta_tags %>
  <script>
    var lecture_id = <%= raw @lecture_id %>;
  </script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
  <%= javascript_include_tag 'markdown-it', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "codemirror" %>
  <%= stylesheet_link_tag "vs" %>
  <%= stylesheet_link_tag "codemirror" %>
  <%= stylesheet_link_tag "base16-light" %>
</head>
<body>

<div id="root"></div>
<%= yield %>



<!--<script>hljs.initHighlightingOnLoad();</script>-->

<script>
    var md = window.markdownit({
        highlight: function (str, lang) {
            if (lang && hljs.getLanguage(lang)) {
                try {
                    return hljs.highlight(lang, str).value;
                } catch (__) {}
            }

            return ''; // use external default escaping
        }
    });
</script>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'codemirror', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'python_mode', 'data-turbolinks-track' => true %>

<%= javascript_include_tag 'sheet_creator', 'data-turbolinks-track' => true %>


</body>
</html>
