<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> <%= @sheet.name %> </title>
  <script>
    var lecture_id = <%= raw @lecture_id %>;
    var sheet_id = <%= raw @sheet_id %>;

  </script>

  <%= stylesheet_link_tag "vs" %>
  <%= stylesheet_link_tag "codemirror" %>
  <%= stylesheet_link_tag "base16-light" %>
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:500' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
  <%= javascript_include_tag 'markdown-it', 'data-turbolinks-track' => true %>
  <script>
      var md = window.markdownit({
          highlight: function (str, lang) {
              if (lang && hljs.getLanguage(lang)) {
                  try {
                      return hljs.highlight(lang, str).value;
                  } catch (__) {}
              }
              return ''; // use external default escaping
          }
      });
  </script>
</head>
<body>
    <div id="root"/>


    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>



    <%= javascript_include_tag 'codemirror', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'python_mode', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'java_mode', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'sheet_editor', 'data-turbolinks-track' => true %>
</body>
</html>